<div class="viewer-container">
  <canvas #canvas></canvas>
  <div class="loading-overlay" [class.loaded]="modelLoaded">
  </div>

  <!-- Modales superpuestos al cockpit -->
  <div class="modal-layer">
    <app-projects *ngIf="activeModal === 'projects'"></app-projects>
    <app-skills-modal *ngIf="activeModal === 'skills'"></app-skills-modal>
    <app-about-modal *ngIf="activeModal === 'about'"></app-about-modal>
    <app-contact-modal *ngIf="activeModal === 'contact'"></app-contact-modal>
    <app-ship-modal-component *ngIf="activeModal === 'ship-modules'"></app-ship-modal-component>
    <app-logs-modal-component *ngIf="activeModal === 'logs'"></app-logs-modal-component>
  </div>
</div>

